.follow-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #f80404;
    border: 1px red solid;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .follow-button:hover {
    background-color: #f4a0a0;
  }
  
  .text-3xl {
    font-size: 1rem;
  }
  
  .font-bold {
    font-weight: bold;
  }
  
  .hover\:underline:hover {
    text-decoration: underline;
  }

  .ml-3 {
    margin-left: 0.75rem;
  }
  
  .video {
    width: 80%;
    max-height: 600px;
    margin-left: 50px;
    margin-top: 1rem;
    
  }

  .icon {
    width: 40px;
     height: 40px;
     display: flex;
     background-color: rgb(223, 225, 225);
     border-radius: 50%;
     justify-content: center;
    align-items: center;
  }

  .text-xl{
    justify-content: center;
  }
  .text-red-500 {
    color: #f00808;
  }